
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Welcome To XYZ Company</h2>
    <a href="~/Company/AddDept">Add Department</a> <br />
    <a href="~/Company/DisplayDepts">Display Departments</a> <br />
    <a href="~/Company/AddEmp">Add Employee</a> <br/>
    <a href="~/Company/DisplayEmps">Display Employees</a>
</body>
</html>
