


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUS</title>
</head>
<body>
    <div>
        <h2>Display Company Profile</h2> 
    </div>
    <script>
        document.getElementById("img1").src = "/images/2.jpg";

    </script>
</body>
</html>
