@model MVCHTMLHelperApp.Models.CustomerModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Store</title>
</head>
<body>
    <h2>Name: @Model.CustomerName <br />
        Room type: @Model.RoomType <br />
        Amenties : @Html.Raw(Model.Eminities)
    </h2>
</body>
</html>
