@model MVCMoviesApp.Models.MovieModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Welcome To Movies Gallery</h2>

    <a href="~/Movies/AddMovie">Add Movie</a> <br />

    <a href="~/Movies/Display">Display</a>
</body>
</html>
