
@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="ProductsModule" ng-controller="PorductsCtrl as pc">
<head>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/app/Products.js"></script>
    <script src="~/Scripts/app/ProductsCtrl.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>AngularView</title>
</head>
<body>
    <form>
        <div>
            <div style="background-color:lightblue; font:large; width:40%">
                Product ID: <input type="text" ng-model="pc.products.PRODID" />
                <input type="button" value="Search" ng-click="getProductDetails()" />
                <br />

                Product Name: <input type="text" ng-model="pc.products.PRODNAME" />
                <br />
                Product Price: <input type="text" ng-model="pc.products.PRODPRICE" />
                <br />
                Category ID : <input type="tel" ng-model="pc.products.CATEID" />
                <br />

                <input type="button" value="Save" ng-click="pc.saveProduct()" />
                <input type="button" value="Delete" ng-click="pc.deleteProduct()" />
                <input type="button" value="Update" ng-click="pc.updateProduct()" />
            </div>
        </div>

        <table border="1">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Price</th>
            </tr>
            <tr ng-repeat="prd in pc.products">
                <td>{{prd.PRODID}}</td>
                <td>{{prd.PRODNAME}}</td>
                <td>{{prd.PRODPRICE}}</td>
            </tr>
        </table>
    </form>  
  {{pc.message}}
</body>
</html>
