<!DOCTYPE html>
<html>
<head>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/app/ProductsCtrl.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>AngularView</title>
</head>
<body>
    <div ng-app="ProductsModule" ng-controller="PorductsCtrl as pc">
        <input type="submit" value="Save" ng-click="getData()" />
        <table border="1">
            <tr>
                <th>Employee No</th>
                <th>Employee Name</th>
                <th>Salary</th>
            </tr>
            <tr ng-repeat="prd in pc.products">
                <td>{{prd.PRODID}}</td>
                <td>{{prd.PRODNAME}}</td>
                <td>{{prd.PRODPRICE}}</td>
            </tr>
        </table>
    </div>
   
</body>
</html>