
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div> 
        <h2>Logged out Successfully <a href="~/Home/Login">Login</a></h2>
    </div>
</body>
</html>
