
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2> Cust ID : @ViewBag.CustId <br />
             Cust Name : @ViewBag.CustName
        </h2>
    </div>
</body>
</html>
