@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexWithMode</title>
</head>
<body>
    <div> 
        <h2>
            Customer Id: @Model.CustId <br />
            Customer Name: @Model.CustName
        </h2>
    </div>
</body>
</html>
