
@{
    ViewBag.Title = "AboutUS";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<h2>About US</h2><br />
<h3>Display Company/ Site Profile</h3>

<script>
    document.getElementById("img1").src = "/images/2.jpg";
</script>

