
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/@Session["css"].ToString();" />
    <title>Registration</title>
</head>
<body>
    <h2>Registration Info</h2>
    <a href="~/Home/Store">Home</a>
</body>
</html>
