
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Scripts.Render("~/mybundle")
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <input type="button" value="call js1" onclick="f1()" />
        <input type="button" value="call js2" onclick="f2()" />
    </div>
</body>
</html>
