
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>
        <h2>Welcome to @HttpContext.Current.User.Identity.Name</h2>
        <br />
        <a href="~/HRD/AddEmp">Add Employee</a>
    </h2>
</body>
</html>
