<form class="form-horizontal" ng-app="register" ng-controller="registerCtrl as rc">
    <div class="form-group">
        <label class="control-label col-xs-2">First Name</label>
        <div class="col-xs-10">
            <input type="text"
                   ng-model="rc.user.firstName"
                   class="form-control"  placeholder="First Name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Last Name</label>
        <div class="col-xs-10">
            <input type="text"
                   ng-model="rc.user.lastName"
                   class="form-control"  placeholder="Last Name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Email ID</label>
        <div class="col-xs-10">
            <input type="email"
                   ng-model="rc.user.emailID"
                   class="form-control"  placeholder="email ID">
        </div>
    </div>
      <div class="form-group">
        <label  class="control-label col-xs-2">Country</label>
        <div class="col-xs-10">
            <select class="form-control" ng-model="rc.selectedCountry"
                    ng-options="country.code +'-'+country.name for country in rc.countries">
                <option value="">Please Select</option>
            </select>{{rc.selectedCountry}}
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-2">Gender</label>
        <div class="col-xs-10">
            <input type="radio" ng-model="rc.user.gender" value="M"
                  name="gender"/>Male
             <input type="radio" ng-model="rc.user.gender" value="F"
                  name="gender"/>Female
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-2">Password</label>
        <div class="col-xs-10">
            <input type="password" class="form-control"  placeholder="Password" ng-model="rc.user.password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="rc.user.agree"> I Agree Tems</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" ng-click="rc.register()" class="btn btn-primary">Register</button>
        </div>
    </div>
    {{rc.user}}
</form>
