
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>feedback</title>
</head>
<body>
    <div> 
        <h2>Your Account is Cretaed Successfully <a href="~/Home/Login">Sign in</a></h2>
    </div>
</body>
</html>
