
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Welcome To Pace Company <br />
        Already Registerd User : <a href="~/Home/Login">Sign in</a>
        <br />
        New User :<a href="~/Home/Register">Signup</a>
         </h2>

    </div>
</body>
</html>
