
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>This is Action Filters Demo</h2>
    </div>
    <br />
    <h2>
        <a href="~/Demo/Tutorials">Tutorials</a> <br />
        <a href="~/Demo/Books">Books</a>
    </h2>
</body>
</html>
