
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="~/Home/ContactUS">Contact US</a>
        <a href="~/Home/AboutUS">About US</a>
    </div>
</body>
</html>
