
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" media="(max-width:650px)" href="~/Content/mobile.css" />
    <link rel="stylesheet" media="(min-width:650px)" href="~/Content/desktop.css" />
    <meta name="viewport" content="width=device-width" />
    
    <title>Index</title>
</head>
<body>
    <div> 
        <p>Display Index View Info</p>
    </div>
</body>
</html>
