
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="~/home/Index">View Demo</a> <br /> 
        <a href="~/home/ContentDemo">Content View</a> <br />
        <a href="~/home/RedirectRouteDemo">Redirect to route demo</a> <br />
        <a href="~/home/RedirectResultDemo">Redirect Result Demo</a> <br />
        <a href="~/home/FileDemo">File Demo</a><br />
        <a href="~/home/JsonDemo">JSON Demo</a><br />

    </div>
</body>
</html>
