
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Campus</title>
</head>
<body>
  @{ 
      Html.RenderPartial("_header");
  }
    <h2>Welcome to Campus</h2>
</body>
</html>
