
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lab</title>
</head>
<body>
    @{
        Html.RenderPartial("_header");
    }
    <h2>Welcome to Lab</h2>
</body>
</html>
